*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: rgb(64, 62, 62);
}
    .container{
        max-width: 1100px;
        margin: auto;
        overflow: hidden;
        padding: 1 2rem;
        text-align: center;
}
.restart{
    display: none;
    background-color: rgb(212, 210, 207);
    color: rgb(66, 65, 65);
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    border: none;  
    margin-bottom: 1rem;
}
.restart:hover{
    background-color: blue;
    color: white;
}
.header{
    text-align: center;
    margin: 1rem 0;
}
h2{
    margin-bottom: 1rem;
}
.score{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
    font-size: 1.2rem;
    color: white;
}
.score p:first-child{
    background-color: darkblue;
}
.score p:last-child{
    background-color: rgb(52, 53, 54);
}
.choices{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
    text-align: center;
}
.choice{
    cursor: pointer;
}
.choice:hover{
    color: darkblue;
}
@media(max-width: 700px){
    .choice{
        font-size: 110px;
    }
}
@media(max-width: 500px){
    .choice{
        font-size: 80px;
    }
}
.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    overflow: auto;
}
.modal-content{
    background: white;
    text-align: center;
    margin: 10% auto;
    width: 350px;
    border-radius: 10px;
    padding: 3rem;
    box-shadow: 0 0 30px 0.5rem black;
    animation-name: modalopen;
    animation-duration: 1s;
}
.modal-content h1{
    margin-bottom: 1rem;
}
.modal-content p{
    font-size: 1.2rem;
    margin-top: 1rem;
}
@keyframes modalopen{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.text-win{
    color: rgb(120, 185, 22);
}
.text-loose{
    color: red;
}
